<section>
    <article id="article">
    <h2>DID: {{ .Did }}</h2>
    Data location: {{ .Area }}
    <ul style="list-style: none;padding-left: 0;">
        {{ range .Entries }}
            {{/* Entries is a struct {Path, Name, isDir, Did, EscDid} */}}
            <li>
                {{ if .IsDir }}
                    <img src="https://cdn.onlinewebfonts.com/svg/img_572115.png" width="20">
                    <a href="/dm?did={{.EscDid}}&path={{.Path}}" style="font-weight: bold; color: blue; cursor: pointer;">{{ .Name }}</a>
                {{ else }}
                    <img src="https://cdn.onlinewebfonts.com/svg/img_547367.png" width="20">
                    <a href="/dm?did={{.EscDid}}&file={{.Name}}" style="color: black; cursor: pointer;">{{ .Name }}</a>
                {{ end }}
            </li>
        {{ end }}
    </ul>

    </article>
</section>
